* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #000000;
}


.project-button {
    margin: 20px;
    font-size: 18px;
    background-color: #f5f5f5;
    padding: 15px;
    border-radius: 8px;
    border: none;
    box-shadow: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    display: inline-block; 
}

.project-button:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

#projecten {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
    padding: 0;
    list-style-type: none;
}

#projecten li {
    padding-left: 0;
}

#projecten li:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


body.dark-mode .project-button {
    background-color: #333333;
    color: white;
    border: 1px solid #444;
}

body.dark-mode .project-button:hover {
    background-color: #444444;
    box-shadow: 0 6px 12px rgba(255, 255, 255, 0.2);
}

body.dark-mode #projecten {
    background-color: #121212;
    color: #E0E0E0;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

#dark-mode-toggle {
    cursor: pointer;
    font-size: 20px;
    background: none;
    border: none;
    color: white;
    position: absolute;
    top: 12px;
    left: 30px;
}

body.dark-mode #dark-mode-toggle::before {
    content: "🌙"; 
}

#dark-mode-toggle::before {
    content: "☀️"; 
}

header {
    background-color: #000000;
    padding: 15px 0;
    text-align: center;
    opacity: 0;
    animation: fadeIn 1.5s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    color: #0033ff;
}

#projecten {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#projecten h2 {
    font-size: 32px;
    color: #007BFF;
    text-align: center;
    margin-bottom: 20px;
}



#projecten a {
    color: #007BFF;
    text-decoration: none;
}

#projecten a:hover {
    color: #ff6347;
}

@media (max-width: 768px) {
    #projecten ul {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #projecten li {
        margin-bottom: 20px;
        width: 100%;
        max-width: 400px;
        text-align: center;
    }
}

#rating-button-container {
    position: fixed;
    top: 65px;
    right: 20px;
}

#rate-button {
    background-color: #007BFF; 
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#rate-button:hover {
    background-color: #0056b3;
}

body.dark-mode #rate-button {
    background-color: #2ae320; 
    color: white; 
}

body.dark-mode #rate-button:hover {
    background-color: #3FFF72; 
}

#projecten1 {
    font-size: 18px;
    line-height: 1.6;
    color: #666;
    text-align: center;
}
