 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #000000;
  }



body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

body.dark-mode #rate-button {
  background-color: #2ae320;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

body.dark-mode #rate-button:hover {
  background-color: #3FFF72;
}

body.dark-mode a {
  color: #FFFFFF;
}

body.dark-mode .home-content {
    background-color: #1E1E1E; 
    color: #E0E0E0; 
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

body.dark-mode .about-me {
    background-color: #1E1E1E; 
    color: #E0E0E0; 
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}


body.dark-mode p {
  color: #E0E0E0;
}

#dark-mode-toggle {
  cursor: pointer;
  font-size: 20px;
  background: none;
  border: none;
  color: white;
  position: absolute;
      top: 12px;
      left: 30px;
}



body.dark-mode #dark-mode-toggle::before {
  content: "🌙"; 
}

#dark-mode-toggle::before {
  content: "☀️"; 
}


  header {
    background-color: #000000;
    padding: 15px 0;
    text-align: center;
    opacity: 0;
    animation: fadeIn 1.5s forwards;
  }

@keyframes fadeIn {
  to {
    opacity: 1
  }
}

  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
  }

  nav ul li {
    margin: 0 15px;
  }

  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }

  nav ul li a:hover {
    color: #0033ff;
    transition: filter 0.3s ease;
  }

#Wist ul {
  list-style-type: none;
  padding: 0;
}

#Wist ul li {
  color: #555; 
  font-size: 1.1em;
  margin: 8px 0;
  padding-left: 20px;
  position: relative;
  line-height: 1.6;
}

#Wist ul li:before {
  content: "💡"; 
  position: absolute;
  left: 0;
  color: #ffcc00; 
  font-size: 1.2em;
}
  main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .intro {
    text-align: center;
    margin-bottom: 30px;
  }

   h2 {
    color: #007BFF;
    font-size: 32px;
    margin-bottom: 10px;
     text-align: center;
  }



   p {
    font-size: 18px;
    color: #666;
     text-align: center;
  }

  .home-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }


  @media (max-width: 768px) {
    .foto-wandelen {
      flex-direction: column;
      align-items: center;
      padding: 10px; 
    }


    .about-me {
      flex-direction: column;
      text-align: center;
    }

    .about-me img {
      margin: 0 0 20px 0;
    }
  }

.about-me {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }


  .about-me img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-right: 20px;
  }

  .about-me p {
    max-width: 600px;
    font-size: 18px;
    line-height: 1.6;
    color: #666;
    text-allign: bottom;
  }

#rating-button-container {
  position: fixed;
  top: 65px;
  right: 20px;
}

#rate-button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#rate-button:hover {
  background-color: #0056b3;
}

